{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>

    <p>{{ course.description }}</p>

    <h3>Уроки:</h3>

    {% for lesson in course.lessons %}
        <div>
            <a href="{{ path('app_lesson_show', {id: lesson.id}) }}">
                {{ lesson.name }}
            </a>
        </div>
    {% else %}
        <p>Уроков пока нет</p>
    {% endfor %}

    <br>

    <a href="{{ path('app_course_index') }}">Назад</a>
    <a href="{{ path('app_course_edit', {id: course.id}) }}">Редактировать</a>

    <form method="post" action="{{ path('app_course_delete', {id: course.id}) }}" style="display:inline;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
        <button>Удалить</button>
    </form>

    <br><br>

    <a href="{{ path('app_lesson_new', {course_id: course.id}) }}">
        + Добавить урок
    </a>
{% endblock %}
